<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ('./partials/head.ejs') %>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Account</title>
    
</head>
<body>
    <%- include ('./partials/header.ejs') %>

    <div class="container">
        <div class="row">
            <div class="twelve columns" style="margin-top: 20px;">
                <h3>Edit Account Information</h3>
                <form action="/account/update" method="POST">
                    <label for="username">Username:</label>
                    <input class="u-full-width" type="text" id="username" name="username" value="<%= currentUser.username %>" required>

                    <label for="email">Email:</label>
                    <input class="u-full-width" type="email" id="email" name="email" value="<%= currentUser.email %>" required>

                    <label for="password">New Password (optional):</label>
                    <input class="u-full-width" type="password" id="password" name="password">

                    <input type="hidden" name="id" value="<%= currentUser._id %>"> 
                    <input class="button-primary" type="submit" value="Update Account">
                </form>
            </div>
        </div>
    </div>
</body>
</html>