<!DOCTYPE html>
<html lang="en">
    <%- include ('./partials/head.ejs') %>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Item Show Page</title>
    <link rel="stylesheet" href="/public/css/app.css">

</head>
<body>
    <%- include ('./partials/header.ejs') %>

    <h1>Item Details</h1>
    <body>
        <div class="container">
            <div class="card" style="background-image: url('<%= item.image %>'); background-size: cover; background-position: center;">
                <div class="card-body">
                    <h5 class="card-title"><%= item.name %></h5>
                    <br><br><br><br><br><br><br><br><br><br><br>
                    <br><br><br><br><br><br><br><br><br><br><br>
                    <p class="card-text">Brand: <%= item.brand %></p>
                    <p class="card-text">Description: <%= item.description %></p>
                    <p class="card-text">Size: <%= item.size %></p>
                    <p class="card-text">Price: $<%= item.price %></p>
                    <br>
                    <a href="#" onclick="window.history.back(); return false;">
                        <button class="button" style="background-color: rgb(245, 201, 143);">Back to Previous Page</button>
                    </a>
                </div>
            </div>
            
        </div>
        
    </body>
</body>
</html>

<style>
    h5{
        font-size: 30px;
    }
    body{
        text-align: center;
    }
    h5,p{
        background-color: rgba(240, 248, 255, 0.6);
    }
</style>