<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ('../partials/head.ejs') %> 
    <title>Fall Winter Fragrance</title>

</head>
<body>
    <%- include ('../partials/header.ejs') %>

    <div class="container" style="max-width: 960px; margin: auto;">
        <div class="row" style="margin: -10px;">
            <% for (let i = 0; i < fallWinter.length; i++) { %>
                <% const FWItem = fallWinter[i]; %>

                <div class="four columns" style="padding: 10px;">
                    <a href="/fallWinter/<%= FWItem.id %>" style="text-decoration: none; color: inherit;">
                        <div class="card" style="background-image: url('<%= FWItem.image %>'); background-position: center; background-size: contain; background-repeat: no-repeat; background-position: center; padding: 20px; color: black; height: 100%;">
                            <h5><%= FWItem.name %></h5>
                            <p>Brand: <%= FWItem.brand %></p>
                            <p>Description: <%= FWItem.description %></p>
                            <p>Size: <%= FWItem.size %></p>
                            <p>Price: $<%= FWItem.price %></p>
                            <a href="<%= FWItem.link %>" class="button">Visit Website</a>
                            <br>
                            <!-- Add to Cart button-->
                            <form action="/cart" method="post">
                                <input type="hidden" name="FWItem" value="<%= FWItem._id %>">
                                <button type="submit" class="button">Add to Cart</button>
                            </form>
                            <br>
                            <form method="POST" action="/fallWinter/<%= FWItem.id %>?_method=DELETE">
                                <input class="button" type="submit" value="DELETE"/>
                            </form>
                        </div>
                    </a>
                </div>
            <% } %>
        </div>
    </div>

    <style>
        p, h5 {
            color: #333; 
        }
    </style>
</body>
</html>