<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ('../partials/head.ejs') %> 
    <title>Special Scent</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.9.3/css/bulma.min.css">


</head>
<body>
    <%- include ('../partials/header.ejs') %>
    <!--I learned how to make the cards through Bulma website / youtube-->
    <div class="container" style="max-width: 960px; margin: auto;">
        <div class="columns is-multiline">
            <% for (let i = 0; i < specialScent.length; i++) { %>
                <% const item = specialScent[i]; %>
    
                <div class="column">
                    <div class="card" style="background-image: url('<%= item.image %>');background-position: center; background-size: contain; background-repeat: no-repeat; background-position: center; padding: 20px; color: black; height: 100%;">
                        <a href="/special/<%= item.id %>" style="text-decoration: none; color: inherit;">
                        <div class="card-content">
                            <div class="media">
                                <div class="media-content">
                                    <p class="title is-4"><%= item.name %></p>
                                    <p class="subtitle is-5">Brand: <%= item.brand %></p>
                                </div>
                            </div>
    
                            <div class="content">
                                <!-- <p>Description: <%= item.description %></p> -->
                                <br><br><br><br><br><br><br><br><br><br><br><br>
                                <p>Size: <%= item.size %></p>
                                <p>Price: $<%= item.price %></p>
                                <a href="/special/<%= item.id %>" class="button is-primary">View Detail</a>
                                <a href="<%= item.link %>" class="button is-link">Visit Website</a>

                                <form method="POST" action="/special/<%= item.id %>?_method=DELETE">
                                    <button class="button is-danger" type="submit">Delete</button>
                                </form>
                                <a href="/special/<%= item.id %>/edit">
                                    <button type="submit" class="button" style="color: red;">Edit Item</button>
                                </a>
                            </div>
                        </div>
                        </a>
                        
                    </div>
                </div>
                
            <% } %>
        </div>
    </div>

    <style>
    body{
    }
    p {
        color: rgb(0, 0, 0); 
    }
    .content{
        font-family: "Raleway", sans-serif;
        font-optical-sizing: auto;
        font-style: normal;
    }
    </style>
</body>
</html>
