<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ('../partials/head.ejs') %> 
    <title>Spcial Scent</title>

</head>
<body>
    <%- include ('../partials/header.ejs') %>

    <div class="container" style="max-width: 960px; margin: auto;">
        <div class="row" style="margin: -10px;">
            <% for (let i = 0; i < specialScent.length; i++) { %>
                <% const item = specialScent[i]; %>

                <div class="six columns" style="padding: 10px;">
                    <a href="/special/<%= item.id %>" style="text-decoration: none; color: inherit;">
                        <div class="card" style="background-image: url('<%= item.image %>');background-position: center; background-size: contain; background-repeat: no-repeat; background-position: center; padding: 20px; color: black; height: 100%;">
                            <h5><%= item.name %></h5>
                            <p>Brand: <%= item.brand %></p>
                            <p>Description: <%= item.description %></p>
                            <p>Size: <%= item.size %></p>
                            <p>Price: $<%= item.price %></p>
                            <a href="<%= item.link %>" class="button">Visit Website</a>
                            <br>
                            <!-- Add to Cart button-->
                            <form action="/cart" method="post">
                                <input type="hidden" name="itemId" value="<%= item._id %>">
                                <button type="submit" class="button">Add to Cart</button>
                            </form>
                            <br>
                            <a href="/special/<%= item.id %>/edit" type="button" class="button">Item Edit</a>
                            <form method="POST" action="/special/<%= item.id %>?_method=DELETE">
                                <input class="button" type="submit" value="DELETE"/>
                            </form>
                        </div>
                    </a>
                </div>
            <% } %>
        </div>
    </div>

    <style>
        p, h5 {
            color: #333; 
        }
    </style>
</body>
</html>